.formBox{
    background-color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formBox form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  .formBox h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .inputField {
    width: 100%;
    padding: 12px 16px;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.2s;
  }
  
  .inputField:focus {
    border-color: #333;
    outline: none;
  }
  
  .button {
    margin-top: 1rem;
    background-color: #ddd;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
  }
  
  .button:hover {
    background-color: #bbb;
  }
  
  .error {
    color: red;
    margin-top: 0.5rem;
  }